<!DOCTYPE html>
<html lang="en">
    <style>
    .btn:hover {
        background-color: white;
        color: #05386b; 
        border: 2px solid #05386b;
        width: 30px;
        height: 15px;

    }
  
    .btn {
        background-color: #05386b;
        color: #EDFFE1;
        width: 30px;
        height: 15px;
    }

    </style>
    <div class="download">
        <h2><a href={{url_for('download')}} target="blank"><buton class="btn"> Download</buton></a></h2>
    </div>
</html>