<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Super Geocoder</title>
        <link href="../static/main.css" rel="stylesheet">
        <style>
            .output {
                font-family: "Comic Sans MS", cursive, sans-serif;
                display: inline-block;
            }
            
        </style>
    </head>
    <body>
        <div class="container">
            <div class="comic">
                <h1><b>Super Geocoder</b></h1>
                <h3>Please upload your CSV file. The value containing addresses should be in a column named address or Address even if your address column has the city info</h3>
            </div>
            <form action="{{url_for('success')}}"  enctype="multipart/form-data" method="POST">
                <input class="file" title="Your File will be safe with us" type="file" name="File" required> <br>
                <button class="button button1"type="submit">Submit</button>
            </form>
            <div class="csstable">
                {{text | safe}}
            </div>
            <div class="output">
                {% include [btn] ignore missing %}
            </div>
        </div>
    </body>
</html>
